.calHeader {
	width: 616px;
	margin: 0px auto;
	padding: 0px;
} 

.cal {
	margin: 0px auto;
	padding: 0px;
  	width: 616px !important;
	width /**/: 618px; 
}

.calDayOuter {
	float: left;
	width: 88px;
	margin: 0px;
	padding: 0px;
}

.calDayTitle {
	background: #f2f3e5;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 20px;
}

.calDayInner {
	background: #ffffff;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin: 0px;
	padding: 4px;
	height: 80px;
}

.calBorderTop {
	border-top: 1px solid #000000;
}

.calBorderLeft {
	border-left: 1px solid #000000;
}

.calDayInner ul {
	list-style: circle;
	padding-left: 16px;
	margin: 0px;
}

a.calTip {
	position: relative;
	z-index: 24;
}

a.calTip:hover {
	z-index: 25;
	background: #ffffff;
}

a.calTip span {
	display: none;
}

a.calTip:hover span {
	display: block;
	position: absolute;
	top: 20px; left: 20px;
	width: 180px;
	padding: 5px;
	border: 1px solid #000000;
	background: #f2f3e5;
	color: #000000;
	text-align: left;
}

a.calTip ul {
	list-style: circle;
	padding-left: 16px;
	margin: 0px;
}

.calDayCur {
	background: #c9c898;
}

.calDayWithItems {
	background: #f2f3e5;
}

/*event block rules*/
.calBlockHeader {
	width: 127px;
	margin: 0px auto;
	padding: 0px;
} 

.calBlock {
  	width: 127px !important;
	width /**/: 129px; 
	margin: 0px auto;
	padding: 0px;
}

.calBlockDayOuter {
	float: left;
	width: 17px;
	margin: 0px;
	padding: 0px;
}

.calBlockDayTitle {
	font-size: 0.9em;
	background: #f2f3e5;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 16px;
}

.calBlockDayInner {
	background: #ffffff;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin: 0px;
	padding: 0px;
	height: 16px;
	text-align: center;
}

a.calBlockTip {
	position: relative;
	z-index: 24;
}

a.calBlockTip:hover {
	z-index: 25;
	background: #ffffff;
}

a.calBlockTip span {
	display: none;
}

a.calBlockTip:hover span {
	font-size: 1.2em;
	display: block;
	position: absolute;
	top: 20px; right: 20px;
	width: 180px;
	padding: 5px;
	border: 1px solid #000000;
	background: #f2f3e5;
	color: #000000;
	text-align: left;
}

a.calBlockTip ul {
	list-style: circle;
	padding-left: 16px;
	margin: 0px;
}

.calBlockDayCur {
	background: #c9c898;
}

.calBlockDayWithItems {
	background: #f2f3e5;
}
