html body  {
color: #333333; 
font-family: Arial,Helvetica,sans-serif; 
font-size: 80%;  /*change this to resize all text.  text within classes specified with em */
background: #ffffff;
}

h3 {
font-weight: bold;
font-size: 1.2em;
color: #d98719;
}


a {
COLOR: #3366cc; 
text-decoration: underline;
background: none;
}

a:hover {
COLOR: #3366cc; 
background: none;
}

.solid {
border: 1px solid #000000;
width: 98%;
}

.dashed {
border: 1px dashed #3366cc;
width: 98%;
}
